@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-section-one">
        <h1 class="display-5">Welcome to the Helpdesk Servicing Center</h1>
        <p class="lead">Manage your tickets, comments, and privacy settings with ease.</p>
    </div>
</div>

<div class="contributors">
    <h1 class="display-3">Contributors!</h1>
    <p class="lead">Cruz, Veejay</p>
    <p class="lead">Costales, Precious</p>
    <p class="lead">Marinay, Reinald</p>
    <p class="lead">Montoya, Errol</p>
</div>
